In [1]:
# blanket import modules
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import pprint

out_csv = "../Output/multiple_year_data.csv"

In [2]:
# setting up paths for data
y2022_cs = "../../Resources/World Happiness Report 2022.csv"
y2021_cs = "../../Resources/2021.csv"
y2020_cs = "../../Resources/2020.csv"
y2019_cs = "../../Resources/2019.csv"
y2018_cs = "../../Resources/2018.csv"
y2017_cs = "../../Resources/2017.csv"
y2016_cs = "../../Resources/2016.csv"
y2015_cs = "../../Resources/2015.csv"

In [3]:
# making data pandas readable
y2022_df = pd.read_csv(y2022_cs)
y2021_df = pd.read_csv(y2021_cs)
y2020_df = pd.read_csv(y2020_cs)
y2019_df = pd.read_csv(y2019_cs)
y2018_df = pd.read_csv(y2018_cs)
y2017_df = pd.read_csv(y2017_cs)
y2016_df = pd.read_csv(y2016_cs)
y2015_df = pd.read_csv(y2015_cs)

In [4]:
y2022_df.head(1)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534

In [5]:
y2021_df.head(1)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.78,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253

In [6]:
y2020_df.head(1)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.95433,71.900825,0.949172,-0.059482,0.195445,1.972317,1.28519,1.499526,0.961271,0.662317,0.15967,0.477857,2.762835

In [7]:
y2019_df.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [8]:
y2018_df.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [9]:
y2017_df.head(1)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [10]:
y2016_df.head(1)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.46,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [11]:
y2015_df.head(1)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [12]:
#grabbing data needed for merge
y2022_df_e = y2022_df.loc[: , ["RANK", "Country", "Happiness score"]]
y2021_df_e = y2021_df.loc[: , ["Country name", "Ladder score"]]
y2020_df_e = y2020_df.loc[: , ["Country name", "Ladder score"]]
y2019_df_e = y2019_df.loc[: , ["Overall rank", "Country or region", "Score"]]
y2018_df_e = y2018_df.loc[: , ["Overall rank", "Country or region", "Score"]]
y2017_df_e = y2017_df.loc[: , ["Happiness.Rank", "Country", "Happiness.Score"]]
y2016_df_e = y2016_df.loc[: , ["Happiness Rank", "Country", "Happiness Score"]]
y2015_df_e = y2015_df.loc[: , ["Happiness Rank", "Country", "Happiness Score"]]

In [13]:
#making the rank column for 2021
rank = 1
ranking = []

for i in range(len(y2021_df_e)):
    ranking.append(rank)
    rank += 1
y2021_df_e["2021 Rank"] = ranking
y2021_df_e.head(2)

  Country name  Ladder score  2021 Rank
0      Finland         7.842          1
1      Denmark         7.620          2

In [14]:
#making the rank column for 2020
rank = 1
ranking = []

for i in range(len(y2020_df_e)):
    ranking.append(rank)
    rank += 1
y2020_df_e["2020 Rank"] = ranking
y2020_df_e.head(2)

  Country name  Ladder score  2020 Rank
0      Finland        7.8087          1
1      Denmark        7.6456          2

In [15]:
y2022_ren = y2022_df_e.rename(columns={"Country" : "Country",
                                              "RANK":"2022 Rank", "Happiness score":"2022 Happiness Score"})
y2021_ren = y2021_df_e.rename(columns={"Country name" : "Country",
                                              "2021 Rank":"2021 Rank", "Ladder score":"2021 Happiness Score"})
y2020_ren = y2020_df_e.rename(columns={"Country name" : "Country",
                                              "2020 Rank":"2020 Rank", "Ladder score":"2020 Happiness Score"})
y2019_ren = y2019_df_e.rename(columns={"Country or region" : "Country",
                                              "Overall rank":"2019 Rank", "Score":"2019 Happiness Score"})
y2018_ren = y2018_df_e.rename(columns={"Country or region" : "Country",
                                              "Overall rank":"2018 Rank", "Score":"2018 Happiness Score"})
y2017_ren = y2017_df_e.rename(columns={"Country" : "Country",
                                              "Happiness.Rank":"2017 Rank", "Happiness.Score":"2017 Happiness Score"})
y2016_ren = y2016_df_e.rename(columns={"Country" : "Country",
                                              "Happiness Rank":"2016 Rank", "Happiness Score":"2016 Happiness Score"})
y2015_ren = y2015_df_e.rename(columns={"Country" : "Country",
                                              "Happiness Rank":"2015 Rank", "Happiness Score":"2015 Happiness Score"})

In [16]:
sub_comb_data =  pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(y2022_ren,
                                                                 y2021_ren, on="Country", how="left")
                                                                ,y2020_ren, on="Country", how="left")
                                                                ,y2019_ren, on="Country", how="left")
                                                                ,y2018_ren, on="Country", how="left")
                                                                ,y2017_ren, on="Country", how="left")
                                                                ,y2016_ren, on="Country", how="left")
                                                                ,y2015_ren, on="Country", how="left").dropna()
sub_comb_data.loc[(sub_comb_data.Country == 'United States'),'Country']='United States of America'
yearly_data = sub_comb_data.set_index("Country")

In [17]:
yearly_data = yearly_data[["2022 Rank","2022 Happiness Score","2021 Rank","2021 Happiness Score","2020 Rank",
                          "2020 Happiness Score", "2019 Rank", "2019 Happiness Score", "2018 Rank", 
                          "2018 Happiness Score", "2017 Rank", "2017 Happiness Score", "2016 Rank", 
                          "2016 Happiness Score", "2015 Rank", "2015 Happiness Score"]]
yearly_data = yearly_data.round({"2022 Happiness Score":2, "2021 Happiness Score":2, "2020 Happiness Score":2, 
                                 "2019 Happiness Score":2, "2018 Happiness Score":2, "2017 Happiness Score":2, 
                                 "2016 Happiness Score":2, "2015 Happiness Score":2})
yearly_data = yearly_data.astype({"2022 Rank": "int32", "2021 Rank": "int32", "2020 Rank": "int32",
                                  "2019 Rank": "int32", "2018 Rank": "int32", "2017 Rank": "int32",
                                  "2016 Rank": "int32", "2015 Rank": "int32",})
            
yearly_data

,2022 Rank,2022 Happiness Score,2021 Rank,2021 Happiness Score,2020 Rank,2020 Happiness Score,2019 Rank,2019 Happiness Score,2018 Rank,2018 Happiness Score,2017 Rank,2017 Happiness Score,2016 Rank,2016 Happiness Score,2015 Rank,2015 Happiness Score
Country,,,,,,,,,,,,,,,,
Finland,1,7.82,1,7.84,1,7.81,1,7.77,1,7.63,5,7.47,5,7.41,6,7.41
Denmark,2,7.64,2,7.62,2,7.65,2,7.60,3,7.56,2,7.52,1,7.53,3,7.53
Iceland,3,7.56,4,7.55,4,7.50,4,7.49,4,7.50,3,7.50,3,7.50,2,7.56
Switzerland,4,7.51,3,7.57,3,7.56,6,7.48,5,7.49,4,7.49,2,7.51,1,7.59
Netherlands,5,7.42,5,7.46,6,7.45,5,7.49,6,7.44,6,7.38,7,7.34,7,7.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tanzania,139,3.70,142,3.62,148,3.48,153,3.23,153,3.30,153,3.35,149,3.67,146,3.78
Sierra Leone,140,3.57,138,3.85,139,3.93,129,4.37,113,4.57,106,4.71,111,4.64,123,4.51
Zimbabwe,144,3.00,148,3.14,151,3.30,146,3.66,144,3.69,138,3.88,131,4.19,115,4.61
Lebanon,145,2.96,123,4.58,111,4.77,91,5.20,80,5.36,88,5.22,93,5.13,103,4.84
Afghanistan,146,2.40,149,2.52,153,2.57,154,3.20,145,3.63,141,3.79,154,3.36,153,3.58

In [18]:
yearly_data.to_csv(out_csv, index=True)